<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s797307.maillist.MailListView"
            id="de.bht.fpa.mail.s797307.maillist.MailListView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s797307.main.perspective">
         <view
               id="de.bht.fpa.mail.s797307.maillist.MailListView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s797307.main.perspective.top">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s797307.maillist.commands.category"
            name="category">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s797307.maillist.commands.category"
            id="de.bht.fpa.mail.s797307.maillist.commands.configure"
            name="Configure">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s797307.maillist.commands.category"
            id="de.bht.fpa.mail.s797307.maillist.commands.clear"
            name="Clear">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s797307.maillist.handlers.FilterConfigHandler"
            commandId="de.bht.fpa.mail.s797307.maillist.commands.configure">
      </handler>
      <handler
            class="de.bht.fpa.mail.s797307.maillist.handlers.FilterClearHandler"
            commandId="de.bht.fpa.mail.s797307.maillist.commands.clear">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s797307.maillist.menus.sampleMenu"
               label="Filters"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s797307.maillist.commands.configure"
                  id="de.bht.fpa.mail.s797307.maillist.menus.configure"
                  label="Configure">
            </command>
            <command
                  commandId="de.bht.fpa.mail.s797307.maillist.commands.clear"
                  id="de.bht.fpa.mail.s797307.maillist.menus.clear"
                  label="Clear"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
