<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s797307.maillist.MailListView"
            id="de.bht.fpa.mail.s797307.maillist.MailListView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s797307.main.perspective">
         <view
               id="de.bht.fpa.mail.s797307.maillist.MailListView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s797307.main.perspective.top">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.bht.fpa.mail.s797307.maillist.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="de.bht.fpa.mail.s797307.maillist.actions.FilterConfigHandler"
               icon="icons/sample.gif"
               id="de.bht.fpa.mail.s797307.maillist.actions.FilterConfigHandler"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s797307.maillist.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s797307.maillist.commands.category"
            id="de.bht.fpa.mail.s797307.maillist.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s797307.maillist.handlers.FilterConfigHandler"
            commandId="de.bht.fpa.mail.s797307.maillist.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s797307.maillist.menus.sampleMenu"
               label="Filters"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s797307.maillist.commands.sampleCommand"
                  id="de.bht.fpa.mail.s797307.maillist.menus.sampleCommand"
                  label="Configure"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
