<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s000000.common.mail.messagedetails.MessageView"
            id="de.bht.fpa.mail.s000000.common.mail.messagedetails.MessageView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s797307.main.perspective">
         <view
               id="de.bht.fpa.mail.s000000.common.mail.messagedetails.MessageView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s797307.main.perspective.bottom">
         </view>
      </perspectiveExtension>
   </extension>
   
    
</plugin>
