<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s797307.imapnavigation.ImapNavigationView"
            id="de.bht.fpa.mail.s797307.imapnavigation.ImapNavigationView"
            name="ImapNavigationView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="de.bht.fpa.mail.s797307.imapnavigation.ImapNavigationView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s797307.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s797307.imapnavigation.commands.category"
            name="IMAP Menu Commands">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s797307.imapnavigation.commands.category"
            id="de.bht.fpa.mail.s797307.imapnavigation.commands.synchronize"
            name="Synchronize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s797307.imapnavigation.handlers.SynchronizeHandler"
            commandId="de.bht.fpa.mail.s797307.imapnavigation.commands.synchronize">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s797307.mapnavigation.menus.imap"
               label="IMAP Navigation"
               mnemonic="I">
            <command
                  commandId="de.bht.fpa.mail.s797307.imapnavigation.commands.synchronize"
                  id="de.bht.fpa.mail.s797307.mapnavigation.menus.imap"
                  mnemonic="O">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   
   
   
   
</plugin>
